input[type=text] {
    color: black !important;
}

.social-icon {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 25%;
}

.width-50 {
	width: 50%;
	display: inline-block;
	overflow: hidden;
	float: left;
	text-align: center;
}

.width-30 {
	width: 30%;
	display: inline-block;
	overflow: hidden;
	float: left;
	text-align: center;
}

.width-70 {
	width: 70%;
	display: inline-block;
	overflow: hidden;
	float: left;
	text-align: center;
    padding: 0 20px 0 0;
}

.feature-item {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: left;
	margin: 0 0 60px 0;
}

.feature-title {
	text-align: left;
	margin-top: 0!important;
}

.feature-text {
    margin-bottom: 0;
    color: #4DC8DB;
    text-align: left;
}

.the-logo img {
	margin: 20px 0 0 0;
}

.hero-form-layout .feature-icon {
	min-height: 0px;
}

@media (max-width: 990px) {


	.lol {
		margin: 0 0 60px 0;
	}

	.width-50 {
		width: 100%;
	}

}

.radio-left {
	float: left;
	padding: 0 20px 0 0;
	width: 50%;
}

.radio-right {
	float: right;
	padding: 0 0 0 20px;
	width: 50%;
}

input[type=radio] {
	display:none;
}

input[type=radio] + label {
	display: inline-block;
	color: #A3A3A3;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	height: 50px;
	border-radius: 6px;
	line-height: 50px;
	width: 100%;
	padding: 0 20px;
	margin: 0 0 30px 0;
}

input[type=radio]:checked + label {
	background-color: #afff96;
	color: #65ad4f;
}

.network-icons {
	width: 75px;
}

.network-holder {
	display: inline-block;
	float: left;
	text-align: center;
	width: 16.66666666666%;
}

.uilang-hide {
	display: none !important;
}

.top-logo-text-2 {
	padding-top: 9px;
	margin-bottom: 0 !important;
}




@media (max-width: 992px) {

	.top-logo-text-2 {
		padding: 0 0 50px 0;
	}

	.top-logo-text {
		margin: 20px 0 0 0;
	}

}


@media (max-width: 600px) {

	.network-holder {
		width: 33.3333333%;
	}

	.networks .row .lel .network-holder:nth-child(1) {
		margin: 0 0 60px 0;
	}

	.networks .row .lel .network-holder:nth-child(2) {
		margin: 0 0 60px 0;
	}

	.networks .row .lel .network-holder:nth-child(3) {
		margin: 0 0 60px 0;
	}

}

@media (max-width: 600px) {


	.radio-left {
		padding: 0;
		width: 100%;
	}

	.radio-right {
		padding: 0;
		width: 100%;
	}

	input[type=radio] + label {
		margin: 0 0 10px 0;
	}

}
